.main-nav {
  min-height: 60px;
  padding: 0 6.25%;

  display: flex;
  align-items: center;
  box-shadow: 0 5px 2px -2px #F4F9FC;
}

.main-nav__list {
  display: none;
}

.main-nav__buttonbox {
  display: flex;
  margin-left: auto;
}

.main-nav__innerbox {
  display: none;
}

.main-nav__cart {
  padding: 0;
  display: block;
  position: relative;
}

.main-nav__item--filled {
  display: none;
}

.main-nav__cartbutton {
  display: block;
  width: 30px;
  height: 30px;
  background: $pink url("../img/cart-icon.svg") center no-repeat;
  background-size: 16px 16px;
  border-radius: 50%;
}

.main-nav__cart-counter {
  position: absolute;
  top: 50%;
  right: -12px;
  z-index: 2;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-color: $green;
  border-radius: 50%;

  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 20px;
  color: $fcolor;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main-nav {
    min-height: 82px;
    padding: 0 64px;
  }

  .main-nav__cartbutton {
    display: none;
  }

  .main-nav__buttonbox {
    display: flex;
    margin-left: auto;
  }

  .main-nav__innerbox {
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  .main-nav__cart {
    padding: 0;
  }

  .main-nav__item {
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $fcolor;

    &--stroked {
      width: 138px;
      min-height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid $pink;
      border-radius: 30px;

      color: $pink;
    }

    &--filled {
      width: 87px;
      min-height: 42px;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      border-radius: 30px;
      background-color: $pink;

      color: #fff;
    }
  }

  .main-nav__cart-counter {
    top: 0;
    right: 0;

    width: 25px;
    height: 25px;
    margin-top: -8px;
    margin-right: -8px;

    font-size: 12px;
    line-height: 25px;

  }
}

@media (min-width: 1024px) {
  .main-nav {
    min-height: 86px;
    padding: 0 52px;
  }

  .main-nav__item {
    &--stroked {
      width: 158px;
      min-height: 46px;
    }

    &--filled {
      width: 107px;
      min-height: 46px;
    }
  }
}

@media (min-width: 1200px) {
  .main-nav {
    min-height: 100px;
    padding: 0 40px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  .main-nav__item {
    font-size: 15px;

    &--stroked {
      width: 163px;
      min-height: 48px;
    }

    &--filled {
      width: 109px;
      min-height: 48px;
    }
  }

  .main-nav__buttonbox {
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .main-nav {
    padding: 0;
  }
}
