
.main-screen {
  background-image: url("../img/bg-back-tablet@1x.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding-top: 100px;

  min-height: 510px;

  display: flex;
  justify-content: center;

  position: relative;
  z-index: 1;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .main-screen {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: cover;
    background-position: center;
  }
}

.main-screen__parallax {
  position: absolute;
  z-index: -1;

  &--reflexion{
    right: 0px;
    top: 250px;
  }

  &--belle-vi {
    top: 230px;
    left: 0;
  }

  &--aloe {
    top: 0;
    left: 0;
  }
}

.main-screen__flexwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.main-screen__header {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;

  color: $fcolor;
  display: flex;

  &::before {
    content: "";
    width: 9px;
    height: 9px;
    background: $green;
    border: 2px solid $pink;
    border-radius: 50%;
    align-self: center;
    margin-right: 10px;
  }
}

.main-screen__text {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.5px;
  color: $fcolor;

  margin-top: 17px;
}

.main-screen__button {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .main-screen {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    padding: 0;
    align-items: center;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .main-screen {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  .main-screen__parallax {
    position: absolute;
    z-index: -1;

    &--reflexion{
      top: 200px;
    }

    &--belle-vi {
      top: 200px;
      left: 0;
    }

    &--aloe {
      left: 0;
    }
  }

  .main-screen__text {
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.5px;
    color: $fcolor;

    padding: 0 100px;
    margin-top: 17px;
  }
}

@media (min-width: 1024px) {
  .main-screen {
    background-image: url("../img/bg-back-tablet-large@1x.jpg");
    min-height: 550px;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .main-screen {
      background-image: url("../img/bg-back-tablet-large@2x.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  .main-screen__parallax {
    position: absolute;
    z-index: -1;

    &--reflexion{
      top: 100px;
    }

    &--belle-vi {
      top: 190px;
    }
  }

  .main-screen__text {
    font-size: 40px;
    line-height: 58px;
  }

  .main-screen__button {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .main-screen {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    min-height: 620px;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .main-screen {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .main-screen__parallax {
    &--reflexion{
      top: 88px;
    }

    &--aloe {
      top: 10px;
      left: 100px;
    }
  }

  .main-screen__text {
    font-size: 55px;
    line-height: 80px;

    padding: 0 250px;
  }
}
