@media (min-width: 1200px) {
  .main-business {
    padding-top: 150px;
  }

  .main-business__innerwrap {
    min-height: 620px;
    background-image: url("../img/business-banner-desktop@1x.jpg");
    background-size: cover;
    background-position: center;
    padding: 1px;
    border-radius: 10px;

  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .main-business__innerwrap {
      background-image: url("../img/business-banner-desktop@2x.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  .main-business__header {
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    color: #fff;

    margin-top: 126px;
  }

  .main-business__description {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;

    width: 550px;
    margin-top: 20px;
  }

  .main-business__button {
    margin-top: 40px;
  }
}
