.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;

  background: rgba(0,0,0,0.3);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /* IE6–IE8 */
  zoom: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.modal > * {
  -webkit-transform: translateZ(0px);
}

.modal__box {
  width: 100%;
  margin: 0 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(4,6,6,.2);

  border-radius: 10px;
  opacity: 1;
  transition: 0.3s ease-out opacity;

  .modal__box-hidden {
    opacity: 0;
    transition: 0.3s ease-out opacity;
  }
}

.modal__text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $fcolor;

  margin-bottom: 5px;
  text-align: center;
}

.modal__innerwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.modal__button {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .modal__box {
    width: 500px;
  }

  .modal__text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .modal__button {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .modal__box {
    width: 600px;
  }

  .modal__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    width: 100%;
  }

  .modal__box {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
