.product-card {
  width: 220px;
  min-height: 360px;
  border-radius: 10px;
  background-color: $lightgray;
  position: relative;
  margin: 0;
}

.product-card__product {
  min-height: 210px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: relative;
  z-index: 1;
}

.product-card__hover-elem {
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.4s ease-out;

  background: url('../img/green-circle.svg') center no-repeat;
  width: 300px;
  height: 300px;
}

.product-card__info {
  margin: 21px 10px 10px 10px;

  background-color: #fff;
  width: 200px;
  min-height: 120px;
  border-radius: 10px;

  padding-left: 15px;
  padding-right: 12px;
  padding-top: 10px;
}

.product-card__name {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $fcolor;
}

.product-card__flexwrap {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.product-card__price {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $pink;
}

.product-card__lp {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #17181A;
  opacity: 0.48;
  padding-left: 15px;
}

.product-card__add-btn {
  min-height: 25px;
  margin-top: 10px;
  margin-right: auto;

  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 12px;
  border: none;
  border-radius: 20px;
  background-color: $pink;

  justify-content: flex-start;
  transition: 0.25s padding ease-out;
}

.product-card__plus-icon {
  stroke: #fff;
  transition: 0.2s stroke ease-out;
}

.product-card__plus,
.product-card__minus {
  stroke: $pink;
  transition: 0.1s stroke ease-out;
  pointer-events: none;
}

path {
  pointer-events: none;
}

.product-card__add-text {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  margin-right: 15px;
}

.product-card__count-btns {
  display: none;
  align-items: center;
  width: 0;
  margin-top: 10px;

  &--active {
    display: flex;
    width: auto;
  }
}

.product-card__minus-btn {
  min-width: 25px;
  height: 25px;

  padding: 0;
  border: 2px solid $pink;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s background-color ease-out;

  &:hover {
    background-color: $pink;

    .product-card__minus {
      stroke: #fff;
    }
  }
}

.product-card__plus-btn {
  min-width: 25px;
  height: 25px;

  padding: 0;
  border: 2px solid $pink;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s background-color ease-out;

  &:hover {
    background-color: $pink;

    .product-card__plus {
      stroke: #fff;
    }
  }
}

.product-card__count-field {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $fcolor;
  text-align: center;

  margin: 0 5px;
  padding: 5px 3px;
  width: 60px;
  outline: none;
  border: none;

  &:focus {
    outline: 1px solid $pink;
  }
}


@media (min-width: 768px) {
  .product-card {
    width: 300px;
    min-height: 465px;
  }

  .product-card__product {
    min-height: 284px;
  }

  .product-card__info {
    margin: 36px 10px 10px 10px;

    width: 280px;
    min-height: 135px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .product-card__name {
    font-size: 18px;
    line-height: 26px;
    min-height: 52px;
  }

  .product-card__flexwrap {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 23px;
  }

  .product-card__price {
    font-size: 18px;
    line-height: 26px;

    align-self: flex-end;
  }

  .product-card__lp {
    font-size: 16px;
    line-height: 24px;
  }

  .product-card__add-btn {
    min-height: 30px;
    margin: 0;
  }

  .product-card__minus-btn {
    min-width: 30px;
    height: 30px;
  }

  .product-card__plus-btn {
    min-width: 30px;
    height: 30px;
  }

  .product-card__count-field {
    font-size: 18px;
  }

  .product-card__count-btns {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .product-card {
    width: 360px;
    min-height: 555px;
  }

  .product-card__product {
    min-height: 340px;
  }

  .product-card__info {
    margin: 36px 20px 20px 20px;
    width: 320px;
    min-height: 160px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 27px;
  }

  .product-card__name {
    font-size: 20px;
    line-height: 28px;

    min-height: 56px;
  }

  .product-card__flexwrap {
    padding-top: 15px;
  }

  .product-card__price {
    font-size: 20px;
    line-height: 26px;
  }


  .product-card__lp {
    font-size: 18px;
    line-height: 26px;
  }

  .product-card__add-btn {
    min-height: 34px;
  }

  .product-card__add-text {
    font-size: 15px;
  }

  .product-card__minus-btn {
    min-width: 34px;
    height: 34px;
  }

  .product-card__plus-btn {
    min-width: 34px;
    height: 34px;
  }

  .product-card__plus-icon--pink {
    stroke: $pink;
    transition: 0.2s stroke ease-out;
  }

  .product-card__add-text--hidden {
    display: none;
  }

  .product-card__add-btn--filled {
    min-width: 34px;
    height: 34px;

    padding: 0;
    border: 2px solid $pink;
    background-color: transparent;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s padding ease-out;
  }

  .product-card__count-field {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .product-card:hover >.product-card__hover-elem  {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
}
