.products {
  padding-top: 80px;
}

.products__header {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  color: $fcolor;
}

.products__filterset {
  display: none;
}

.products__toggleset {
  display: none;
}

.products__list {
  display: flex;

  padding-top: 40px;
}

.products__item {
  margin-right: 10px;

  &:not(:first-of-type) {
    display: none;
  }
}

.products__button {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .products {
    padding-top: 100px;
  }

  .products__header {
    font-size: 33px;
    line-height: 48px;
  }

  .products__flexwrap {
    display: flex;

  }
  .products__toggleset {
    display: flex;
    margin-left: auto;
  }

  .products__toggle {
    width: 52px;
    height: 52px;
    padding: 0;

    &--prev {
      background: transparent url("../img/green-arrow-left.svg") center no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      margin-right: 10px;

      &::before {
        content: "";
        width: 43px;
        height: 43px;
        background: url("../img/arrow-left.svg") center no-repeat;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }

    &--next {
      background: transparent url("../img/green-arrow-right.svg") center no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      margin-left: 10px;

      &::before {
        content: "";
        width: 43px;
        height: 43px;
        background: url("../img/arrow-right.svg") center no-repeat;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  }

  .products__list {
    padding-top: 40px;
  }

  .products__item {
    margin-right: 30px;

    &:nth-last-of-type(2) {
      display: block;
    }

    &:last-of-type {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .products__header {
    font-size: 40px;
    line-height: 58px;
  }

  .products__flexwrap {
    display: flex;
    justify-content: space-between;
  }

  .products__filterset {
    display: flex;
    align-self: flex-end;
  }

  .products__filter {
    padding-right: 40px;
  }

  .products__link {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: $fcolor;
    opacity: 0.48;

    &--active {
      opacity: 1;
    }
  }

  .products__toggleset {
    display: flex;
  }

  .products__toggle {
    width: 72px;
    height: 72px;
    padding: 0;

    &--prev {
      background: transparent url("../img/green-arrow-left.svg") center no-repeat;
      position: relative;
      z-index: 1;
      margin-right: 10px;

      &::before {
        content: "";
        width: 60px;
        height: 60px;
        background: url("../img/arrow-left.svg") center no-repeat;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }

    &--next {
      background: transparent url("../img/green-arrow-right.svg") center no-repeat;
      position: relative;
      z-index: 1;
      margin-left: 10px;

      &::before {
        content: "";
        width: 60px;
        height: 60px;
        background: url("../img/arrow-right.svg") center no-repeat;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  }

  .products__item {
    margin-right: 60px;
  }

  .products__button {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .products {
    padding-top: 150px;
  }

  .products__header {
    font-size: 50px;
    line-height: 68px;
  }

  .products__item {
    &:last-of-type {
      display: block;
    }
  }
}
