@media (min-width: 1200px) {
  .tf-faq__infobox {
    margin-bottom: 10px;
  }

  .tf-faq__titlebox {
    width: 1160px;
    min-height: 95px;
    background-color: $lightgray;
    border-radius: 10px;

    display: flex;
    align-items: center;
    padding: 0 50px;
  }

  .tf-faq__name {
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: $fcolor;

    width: 250px;
  }

  .tf-faq__percent {
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: $fcolor;

    margin-left: 60px;
  }

  .tf-faq__button {
    width: 34px;
    height: 34px;

    background-image: url("../img/arrow-btn.svg");
    margin-left: auto;
    transition: .2s transform ease;

    &--active {
      transform: rotate(180deg);
    }
  }

  .tf-faq__textbox {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: $gray;
    max-width: 1160px;

    padding: 10px 50px 53px 50px;

    background-color: $lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    visibility: visible;
    min-height: 175px;
    transition: .3s all ease;

    &--hidden {
      visibility: hidden;
      max-height: 0;
      min-height: 0;
      padding: 0;
    }
  }

  .tf-faq__text {
    opacity: 1;
    transition: .2s all ease;

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}
