@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Nautilus";
  src: url("../fonts/Nautilus.woff") format("woff"), url("../fonts/Nautilus.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@media (min-width: 1200px) {
  .main-nav {
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto; }
  .main-nav__innerbox {
    padding: 0 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-nav__innerbox:last-child {
      padding: 0; }
  .main-nav__item {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #17181A; }
    .main-nav__item--stroked {
      width: 163px;
      min-height: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 2px solid #FF689E;
      border-radius: 30px;
      color: #FF689E; }
    .main-nav__item--filled {
      width: 109px;
      min-height: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      border-radius: 30px;
      background-color: #FF689E;
      color: #fff; }
  .main-nav__cart-counter {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 25px;
    height: 25px;
    margin-top: -8px;
    margin-right: -8px;
    background-color: #AAF0D1;
    border-radius: 50%;
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #17181A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 1200px) {
  .main-screen {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    width: 1420px;
    min-height: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1; }
  .main-screen__parallax {
    position: absolute;
    z-index: -1; }
    .main-screen__parallax--reflexion {
      right: 0px;
      top: 88px; }
    .main-screen__parallax--belle-vi {
      top: 190px;
      left: 42px; }
    .main-screen__parallax--aloe {
      top: 10px;
      left: 130px; }
  .main-screen__flexwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch; }
  .main-screen__header {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #17181A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-screen__header::before {
      content: "";
      width: 9px;
      height: 9px;
      background: #AAF0D1;
      border: 2px solid #FF689E;
      border-radius: 50%;
      -ms-flex-item-align: center;
          align-self: center;
      margin-right: 10px; }
  .main-screen__text {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #17181A;
    padding: 0 250px;
    margin-top: 17px; }
  .main-screen__button {
    margin-top: 40px; } }

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .main-screen {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: cover; } }

@media (min-width: 1200px) {
  .presentation {
    padding-top: 120px; }
  .presentation__flexwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .presentation__videobox {
    position: relative; }
  .presentation__video-btn {
    width: 133px;
    height: 133px;
    padding: 0;
    background: transparent url("../img/video-btn.svg") center no-repeat;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .presentation__text {
    padding-top: 90px;
    padding-left: 100px; }
  .presentation__header {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #17181A; }
  .presentation__description {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B6268;
    margin-top: 25px; }
  .presentation__button {
    margin-top: 40px; } }

@media (min-width: 1200px) {
  .products {
    padding-top: 150px; }
  .products__header {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #17181A; }
  .products__flexwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .products__filterset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .products__filter {
    padding-right: 40px; }
  .products__link {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #17181A;
    opacity: 0.48; }
    .products__link--active {
      opacity: 1; }
  .products__toggleset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .products__toggle {
    width: 72px;
    height: 72px;
    padding: 0; }
    .products__toggle--prev {
      background: transparent url("../img/green-arrow-left.svg") center no-repeat;
      position: relative;
      z-index: 1;
      margin-right: 10px; }
      .products__toggle--prev::before {
        content: "";
        width: 60px;
        height: 60px;
        background: url("../img/arrow-left.svg") center no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: -1; }
    .products__toggle--next {
      background: transparent url("../img/green-arrow-right.svg") center no-repeat;
      position: relative;
      z-index: 1;
      margin-left: 10px; }
      .products__toggle--next::before {
        content: "";
        width: 60px;
        height: 60px;
        background: url("../img/arrow-right.svg") center no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: -1; }
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 43px; } }

@media (min-width: 1200px) {
  .product-cart {
    width: 360px;
    min-height: 555px;
    border-radius: 10px;
    background-color: #F4F9FC;
    margin: 0; }
  .product-cart__product {
    min-height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    z-index: 1; }
  .product-cart__hover-elem {
    position: absolute;
    top: 18px;
    z-index: -1;
    width: 300px;
    height: 300px; }
  .product-cart__info {
    margin: 36px 20px 20px 20px;
    background-color: #fff;
    width: 320px;
    min-height: 160px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px; }
  .product-cart__name {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #17181A;
    min-height: 56px; }
  .product-cart__flexwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 15px; }
  .product-cart__price {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FF689E;
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .product-cart__add-btn {
    min-width: 34px;
    height: 34px;
    border: 2px solid #FF689E;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product-cart__add-btn::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background: url("../img/plus-pink.svg") center no-repeat; }
    .product-cart__add-btn--hover {
      padding-left: 17px;
      padding-right: 12px;
      border: none;
      border-radius: 20px;
      background-color: #FF689E;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .product-cart__add-btn--hover::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background: url("../img/plus-white.svg") center no-repeat;
        margin-left: 15px; }
  .product-cart__add-text {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    color: #fff; } }

@media (min-width: 1200px) {
  .iq-boost {
    padding-top: 150px; }
  .iq-boost__flexwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .iq-boost__header {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #17181A; }
  .iq-boost__diagram {
    margin-top: 59px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
  .iq-boost__textbox {
    margin-top: 50px;
    width: 400px;
    padding-left: 100px; }
  .iq-boost__subtitle {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #17181A; }
  .iq-boost__description {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B6268; }
  .iq-boost__button {
    margin-top: 40px; }
  .iq-boost__info {
    margin-top: 60px; } }

@media (min-width: 1200px) {
  .diagram {
    width: 760px;
    min-height: 420px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 1; }
    .diagram::after {
      content: "";
      width: 760px;
      height: 420px;
      background-image: url("../img/lines-bg.svg");
      background-size: cover;
      position: absolute;
      top: -10px;
      left: 0;
      z-index: -1; }
  .diagram__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 160px;
    margin: 0; }
  .diagram__caption {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5B6268;
    margin-top: 20px;
    min-height: 100px; } }

@media (min-width: 1200px) {
  .tf-faq__titlebox {
    width: 1160px;
    min-height: 95px;
    background-color: #F4F9FC;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 50px; }
  .tf-faq__name {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #17181A;
    width: 250px; }
  .tf-faq__percent {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #17181A;
    margin-left: 60px; }
  .tf-faq__button {
    width: 34px;
    height: 34px;
    background-image: url("../img/arrow-btn.svg");
    margin-left: auto; }
    .tf-faq__button--active {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .tf-faq__text {
    font-family: "Lato", arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B6268;
    padding-top: 18px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 53px;
    background-color: #F4F9FC; } }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

body {
  min-width: 320px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

button {
  background-color: transparent;
  border-style: none; }

h2 {
  margin: 0; }

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding-left: 46px;
    padding-right: 46px; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; } }

.max-box {
  max-width: 1420px;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden; }

.active-element {
  cursor: pointer; }

.button {
  width: 184px;
  height: 52px;
  background: #FF689E;
  border-radius: 30px;
  padding-left: 35px;
  font-family: "Lato", arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none; }
  .button::after {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #AAF0D1;
    position: absolute;
    top: 50%;
    right: 35px;
    margin-top: -9px; }

.underlined-text {
  position: relative;
  z-index: 1; }
  .underlined-text::before {
    content: "";
    width: 100%;
    height: 15px;
    background-color: #AAF0D1;
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1; }

/*# sourceMappingURL=style.css.map */
