@import "var.scss";
@import "font.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-screen.scss";
@import "blocks/presentation.scss";
@import "blocks/products.scss";
@import "blocks/product-cart.scss";
@import "blocks/iq-boost.scss";
@import "blocks/diagram.scss";
@import "blocks/tf-faq.scss";
@import "blocks/main-business.scss";
@import "blocks/features.scss";
@import "blocks/featurebox.scss";
@import "blocks/footer.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: 0.2s;
}

body {
  min-width: 320px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border-style: none;
  outline-color: transparent;
}

h2 {
  margin: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding-left: 46px;
    padding-right: 46px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
    padding-left: 52px;
    padding-right: 52px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .max-box {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media ( min-width: 1440px) {
  .max-box {
    max-width: 1420px;
    margin: 0 auto;
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.active-element {
  cursor: pointer;
}

.button {
  width: 184px;
  height: 52px;

  background: $pink;
  border-radius: 30px;
  padding-left: 35px;

  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #fff;

  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $green;

    position: absolute;
    top: 50%;
    right: 35px;
    margin-top: -9px;
  }
}

.underlined-text {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 15px;

    background-color: $green;

    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1;
  }

  &--pink {
    &::before {
      background-color: $pink;
    }
  }

  &--small {
    &::before {
      height: 10px;
      bottom: 2px;
    }
  }
}

%header-settings {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: $fcolor;
}
